[Unit]
Description=Trackshift Upload Processor (SLC1)

[Service]
User=www-data
Group=www-data
Type=simple
TimeoutSec=0
ExecStart=/usr/bin/php /var/www/trackshift/slc1/cron/uploadProcessor.php
Restart=always
RestartSec=1s

[Install]
WantedBy=multi-user.target
