@import "font/gilroy";
@import "font/inter";
@import "font/geomanist";

@import "variable/break";
@import "variable/font";
@import "variable/palette";
@import "variable/size";
@import "variable/theme";

@import "decorator/dropzone";
@import "decorator/data-fancy-layout";
@import "decorator/data-table";
@import "decorator/floating-element";
@import "decorator/typography";
@import "decorator/ui-element";
@import "decorator/editorial-content";
@import "decorator/info-text";
@import "decorator/form-fields";
@import "decorator/modal-content";
@import "decorator/numbered-feature-list";

@import "object/container";

@import "element/a";
@import "element/button";
@import "element/body";
@import "element/html";
@import "element/iframe";
@import "element/section";
@import "element/main";

@import "component/account-overview";
@import "component/account-tabs";
@import "component/audit-list";
@import "component/column-container";
@import "component/delete-me";
@import "component/demo-user-banner";
@import "component/global-header";
@import "component/global-footer";
@import "component/file-uploader";
@import "component/file-upload-list";
@import "component/file-expiry";
@import "component/upload-progress";
@import "component/cost-editor";
@import "component/cost-table";
@import "component/processing-indicator";
@import "component/product-table";
@import "component/product-summary";
@import "component/product-period";
@import "component/upload-table";
@import "component/sign-up-early-access";
@import "component/split-editor";
@import "component/split-list";
@import "component/user-settings";

@import "page/index";
@import "page/_common";
@import "page/account/_common";

::selection {
	background-color: var(--pal-7);
	color: var(--pal-4);
}

[hidden] {
	display: none;
}

.fade-away {
	opacity: 0;
	transition: 1s;
}

.auto-submit { // when a form auto-submits, like the artist submit button in the modal cost editor
	display: none;
}

body {

}

table {
	width: 100%;
	margin-bottom:60px;
	th, td {
		padding-right:1rem !important;

		&:last-of-type {
			text-align: right;
		}
	}

	thead {
		th {
			// background-color: var(--pal-4);
			color: var(--pal-5);
			text-align: left;
			padding-bottom:1rem;
			border-bottom: 2px solid var(--pal-5);
			&.centered {
				text-align: center !important;
			}
		}
	}
	tbody {
		tr {
			transition: 0.3s ease-in-out;
			&:nth-of-type(even) {
				// background-color: #eee;
			}
			&:hover {
				// background-color: #444;
				color:var(--pal-1);

			}

			td {

				&.centered {
					text-align: center !important;
				}

			}
		}
	}
}

.footer {
	position: fixed;
  	right: 0;
  	bottom: 0;
  	left: 0;
  	padding: 1rem;
  	background-color: #efefef;
  	text-align: center
}

input[type="search"] {
	padding: 0.5rem 1rem;
	padding-left: 3rem;
	font-size: 1rem;
	border-radius: 0.5rem;
	border: 3px solid var(--pal-utility-dark-1);
	outline-color: var(--pal-utility-dark-1);
	box-shadow: none !important;
	margin-bottom: 2rem;
	background-image: url("/asset/icon/search-regular.svg");
	background-position: 1rem;
	background-size: auto calc(100% - 1rem);
	background-repeat: no-repeat;
}
