label.dragging {
	&::before {
		content: "Drop your files to upload!";
		display: block;
		border: 4px dashed black;
		padding: 2rem 1rem;
	}
}

body {
	margin: 40px auto;
	max-width: 1200px;
	line-height: 1.6;
	font-size: 18px;
	color: #444;
	padding: 0 10px
}
h1,h2,h3 {
	line-height:1.2
}
