body.uri--index {
	global-header {
		a {
			color: var(--pal-6);
		}
	}

	section {
		position: relative;

		&.hero {
			margin-top: -10rem;
			padding-top: 10rem;
			padding-bottom: 4rem;
			background-color: var(--pal-5);
			color: var(--pal-3);

			* {
				z-index: 1;
			}

			@media(min-width: $break-medium) {
				&::before {
					content: "";
					position: absolute;
					z-index: 0;
					right: -8rem;
					bottom: -4rem;
					height: 100%;
					aspect-ratio: 1;
					background-image: url("/asset/img/abstract/cheese.svg");
					background-repeat: no-repeat;
					background-size: auto 100%;
					background-position: right;
				}

				&::after {
					content: "";
					position: absolute;
					z-index: 0;
					right: 8rem;
					bottom: 8rem;
					height: 50%;
					aspect-ratio: 1;
					background-image: url("/asset/img/abstract/mixer.svg");
					background-repeat: no-repeat;
					background-size: auto 100%;
					background-position: right;
				}
			}

			h1 {
				margin-bottom: 2rem;
			}

			h2 {
				font-family: var(--font-family-main);
				font-size: 1.25em;

				@media(min-width: $break-small) {
					max-width: 40rem;
					font-size: 1.5em;
				}
			}

			sign-up-early-access {
				@media(min-width: $break-small) {

					form {
						max-width: 40rem;

						@media(min-width: $break-small) {
							margin: 0;
						}

						input, button, .actions {
							max-width: 32rem;
						}

						.actions {
							justify-content: stretch;
							margin-top: 2rem;

							button {
								flex-grow: 1;
							}
						}
					}
				}
			}
		}

		&.overview {
			color: var(--pal-4);

			h1 {
				margin: 4rem 0;

				@media(min-width: $break-small) {
					max-width: 38rem;
					margin-left: auto;
					margin-right: auto;
					text-align: center;
				}
			}

			ol {
				@extend %d-numbered-feature-list;
			}

			sign-up-early-access {
				--margin-horizontal: 0;
				margin-top: 4rem;
				margin-bottom: 4rem;
			}
		}

		&.problem {
			background-color: var(--pal-5);
			color: var(--pal-6);
			padding: 4rem 0;

			@media(min-width: $break-medium) {
				&::after {
					position: absolute;
					top: calc(50% - 10rem);
					left: calc(50% + (var(--size-page-width) / 2) - 28rem);
					content: "";
					width: 28rem;
					aspect-ratio: 1/2;
					background-image: url("/asset/img/abstract/money-amp.svg");
					background-repeat: no-repeat;
					background-size: 100% auto;
				}
			}

			p {
				display: flex;
				flex-direction: column;
				align-items: flex-start;
				font-weight: bold;

				@media(min-width: $break-small) {
					font-size: 1.5rem;
				}
				@media(min-width: $break-medium) {
					font-size: 2rem;
				}

				em {
					font-style: normal;
					background-color: var(--pal-2);
					color: var(--pal-6);
					padding: 0.5rem;

					font-size: 0.8em;
				}
			}
		}

		&.solution {
			padding: 4rem 0;

			img {
				width: 100%;
			}

			ol {
				@extend %d-numbered-feature-list;
			}
		}

		&.about {
			padding: 4rem 0;

			img {
				max-width: 100%;
				border-radius: 1rem;
			}

			p:has(img) {
				@media(min-width: $break-small) {
					width: 50%;
					float: left;
					margin-right: 2rem;
					margin-bottom: 4rem;
				}
			}

			h3 {
				@media(min-width: $break-small) {
					font-size: 1.5rem;
				}
			}
		}

		&.contact {
			margin: 0 1rem;
			padding: 4rem 0;

			h1 {
				@media(min-width: $break-small) {
					text-align: center;
				}
			}

			#contact-submit {
				display: none;

				&:target {
					display: block;
					padding: 8rem 0;

					&~* {
						display: none;
					}
				}
			}

			form {
				@extend %d-form-fields;

				@media(min-width: $break-small) {
					max-width: 32rem;
					margin-left: auto;
					margin-right: auto;
				}

				.actions {
					justify-content: center;

					button {
						flex-grow: 0.5;
					}
				}
			}
		}
	}
}
