a {
	cursor: pointer;
	text-decoration: underline;
	color: var(--pal-link-text);
	background-color: var(--pal-link-bg);

	&:focus {
		outline: var(--theme-accessibility-outline);
	}

	&.button {
		@extend button;
	}

	&.button-red {
		@extend button;
	}
}
