button {
	@extend %d-ui-element;
	cursor: pointer;
	text-decoration: none;
	display: inline-block;
	box-sizing: border-box;
	padding: 0.5rem 1rem;
	font-size: 1rem;
	font-weight:700;
	font-family: var(--font-family-main);
	letter-spacing: var(--font-family-main-letterspacing);
	background-color: var(--pal-ui-bg);
	color: var(--pal-ui-text);
	border: var(--theme-ui-border);
	border-radius: var(--theme-ui-border-radius);
	transition: var(--theme-transition);
	width:auto;
	box-shadow: 0.25rem 0.25rem var(--pal-utility-dark-2);
	outline: 1px solid white;

	&:hover {
		background-color: var(--pal-ui-bg--hover);
		transition: var(--theme-transition);
		color: var(--pal-3);
		border-color:var(--pal-1);
	}
	&:focus:not(:active) {
		outline: var(--theme-ui-outline--focus);
		box-shadow: var(--theme-ui-box-shadow--focus);
	}
	&:active {
		background-color: var(--pal-ui-bg--active--dark);
		transition:none;
		border-color: var(--pal-ui-bg--active--dark);
		box-shadow: 0 0 var(--pal-utility-dark-2);
		translate: 0.25rem 0.25rem;
	}
	&[disabled] {
		background-color: var(--pal-ui-bg--disabled);
	}

}
