section {
	flex-direction: column;

	.card-row, .row {
		list-style-type: none;
		margin: 0;
		padding: 0;
		display: flex;
		flex-wrap: wrap;
		flex-direction: column;
		align-items: stretch;
		width: 100%;

		@media(min-width: $break-small) {
			flex-direction: row;
		}

		.card {
			margin-bottom: 2rem;
			padding-top: 2rem;
			padding-bottom: 2rem;
			text-align: center;
			border-radius: var(--theme-ui-border-radius);
			transition: scale 0.3s ease-in-out;
			min-width: 12rem;

			h3 {
				font-size: 1.75rem;
			}
			.small {
				font-size:1rem;
			}
			&:last-of-type {
				margin-right:0;
			}
			&:hover {
				scale: 1.05;
			}

			@media(min-width: $break-small) {
				display:inline-block;
				margin-right:1rem;
				padding-top:1rem;
				padding-bottom: 1rem;

				&:last-of-type {
					margin-right:0;
				}
				.card-text {
					padding-left:1rem;
					padding-right:1rem;
				}
				h3 {
					font-size:1.25rem;
				}
			}
		}
	}

	.column-one-third-width {
		@media(min-width: $break-small) {
			width: 33.333%;
		}
	}
	.column-two-thirds-width {
		@media(min-width: $break-small) {
			width: 66.666%;
		}
	}
	.column-half-width {
		@media(min-width: $break-small) {
			width: 50%;
		}
	}
	.column-three-quarter-width {
		@media(min-width: $break-small) {
			width:75%;
		}
	}
	.column-one-quarter-width {
		@media(min-width: $break-small) {
			width: 25%;
		}
	}
	.form-container {
		@media(min-width: $break-small) {
			width: 50%;
		}
	}

	.card-image {
		width:50%;
	}
	.card-text {
		padding-left:2rem;
		padding-right:2rem;
	}
}
