account-tabs {
	@extend %o-container;
	display: block;
	margin-top: 4rem;
	overflow-x: scroll;

	ul {
		list-style-type: none;
		margin: 0;
		margin-left: -1rem;
		padding-left: 0;
		display: flex;

		li {
			margin-right: 0.5rem;

			a {
				position: relative;
				font-size: 1.25rem;
				font-weight: bold;
				display: block;
				padding: 1rem;
				border-bottom: none;
				color: var(--pal-utility-dark-1);
				text-decoration: none;
			}

			&.selected {
				a {
					text-decoration: underline;
					text-decoration-thickness: 3px;
					text-underline-offset: 0.5rem;
				}
			}
		}
	}
}
