account-tabs {
	@extend %o-container;
	display: block;
	margin-top: 12rem;

	ul {
		list-style-type: none;
		margin: 0;
		display: flex;
		border-bottom: 2px solid var(--pal-utility-dark-1);

		li {
			margin-right: 1rem;

			a {
				position: relative;
				display: block;
				padding: 2rem;
				border: 2px solid var(--pal-utility-dark-1);
				border-top-left-radius: 1rem;
				border-top-right-radius: 1rem;
				border-bottom: none;
				color: var(--pal-utility-dark-1);
				text-decoration: none;
			}

			&.selected {
				a {
					background-color: var(--pal-utility-light-1);

					&::after {
						content: "";
						position: absolute;
						bottom: -2px;
						left: 0;
						right: 0;
						height: 1rem;
						background-color: var(--pal-utility-light-1);
					}
				}
			}
		}
	}
}
