demo-user-banner {
	display: block;
	position: relative;
	z-index: -1;
	background-color: var(--pal-2);
	padding:var(--theme-padding-notification);
	color:white;
	margin-top:1rem;
	line-height: var(--theme-line-height);
	text-align: center;

	a {
		color: var(--pal-6);

		&:hover {
			color: var(--pal-5)
		}
	}
}
