file-uploader {
	display: block;
	box-sizing: border-box;
	text-align: center;
	max-width: calc($break-small - 6rem);
	cursor: pointer;

	&.uploading {
		form {
			display: none;
		}
	}

	@media(min-width: $break-small) {
		margin-left: auto;
		margin-right: auto;
	}

	form {
		margin: 8rem 1rem;
		padding: 0;
	}

	label {
		@extend %d-dropzone, %o-container;

		p {
			a {
				--pal-link-text--visited: var(--pal-1);

				text-decoration: underline;
				cursor: pointer;
			}
		}

		input {
			display: none;
		}
	}

	button[name=do][value=upload] {
		display: none;
	}
}
