global-header {
	@extend %o-container;
	position: relative;
	z-index: 1;

	display: block;

	header {
		>h1 {
			position: relative;
			font-family: var(--font-family-main);
			font-weight: 900;
			text-align: left;

			.brand {
				font-family: var(--font-family-main) !important;
			}

			a {
				--pal-link-text: var(--pal-utility-dark-1);
				--pal-link-text--visited: var(--pal-utility-dark-1);

				text-decoration: none;
				transition: color 0.3s ease-in-out;

				&:hover {
					color: var(--pal-1);
					transition: 0.3s ease-in-out
				}

				@media(max-width: 20rem) {
					visibility: hidden;
				}
			}
		}

		nav {
			ul {
				display: flex;
				justify-content: center;
				gap: 1rem;
				list-style-type: none;
				margin: 0;
				padding: 0;

				@media(min-width: $break-small) {
					margin-top: -4rem;
					margin-left: 12rem;
					justify-content: flex-start;
				}

				>li {
					a {
						display: block;
						padding: 1rem;
						width: 4rem;
						text-align: center;
					}
				}
			}
		}

		menu {
			position: absolute;
			top: 0;
			right: 1rem;
			margin: 0;
			padding: 0;
			list-style-type: none;

			@media(max-width: 20rem) {
				left: 1rem;
			}

			li {
				a {
					@media(max-width: 20rem) {
						display: block !important;
						text-align: center;
					}
				}
			}
		}
	}
}
