global-header {
	@extend %o-container;
	position: relative;

	display: block;

	header {
		>h1 {
			position: relative;
			text-align: center;
			font-family: 'Gilroy', sans-serif;
			font-weight: 900;

			@media(min-width: $break-small) {
				text-align: left;
			}

			.brand {
				font-family: 'Gilroy', sans-serif !important;
			}

			a {
				--pal-link-text: var(--pal-utility-dark-1);
				--pal-link-text--visited: var(--pal-utility-dark-1);

				text-decoration: none;
				transition: color 0.3s ease-in-out;

				&:hover {
					color: var(--pal-1);
					transition: 0.3s ease-in-out
				}
			}
		}

		nav {
			position: relative;
			top: 0;
			left: 0;
			right: 0;
			display: flex;
			justify-content: center;

			@media(min-width: $break-small) {
				position: absolute;
				margin: 0;
				top: 0;
				right: 0;
				left: auto;
			}

			menu {
				display: flex;
				list-style-type: none;
				margin: 0;
				padding: 0;

				@media(min-width: $break-small) {
					max-width: calc($break-small - 6rem);
					text-align: right;
					margin-top: 0;
				}

				li {
					a {
						display: block;
						padding: 0;
						margin: 0 1rem;
						background-color: var(--pal-page-bg);

						&[href='/account/audit/'] {
							span {
								display: none;
							}

							background: none;
							opacity: 0.8;

							&:hover {
								opacity: 1;
							}

							&::before {
								content: "";
								display: block;
								width: 2.5rem;
								height: 2.5rem;
								mask-image: url("/asset/icon/bell-solid.svg");
								mask-position: center;
								mask-repeat: no-repeat;
								mask-size: calc(100% - 1rem);
								background-color: rgba(black, 0.5);
							}
						}
					}

					&.notify {
						a {
							&::before {
								background-color: red;
							}
						}
					}
				}
			}
		}
	}
}
