processing-indicator {
	display: block;
	position: relative;
	z-index: -1;
	padding:var(--theme-padding-notification);
	color:var(--pal-ui-text);
	margin-top:1rem;
	line-height: var(--theme-line-height);
	text-align: center;
	border:var(--theme-ui-border);
	border-radius: var(--theme-ui-border-radius);
}
