product-table {
	@extend %d-data-table;
	margin-top: 2rem;
	overflow-x: scroll;

	table {
		text-align: left;
		position: relative;
		border-collapse: collapse;

		tbody {
			tr {
				td {
					&.albumArt {
						position: relative;
						width: 7rem;
						height: 7rem;
						padding: 1rem 0;
						// background-color: var(--pal-utility-dark-3);

						&:empty {
							&::after {
								content: "";
								position: absolute;
								width:7rem;
								height:7rem;
								top: 1rem;
								bottom: 1rem;
								left: 0;
								right: 0;
								background-image: url("/asset/img/product/ts_album_placeholder.svg");
								background-size: contain;
								background-repeat: no-repeat;
								box-shadow: 0px 3px 15px rgba(0,0,0,0.2);
								border-radius:3px;
							}
						}

						img {
							display: block;
							width: 7em;
							height: 7rem;
							object-fit: contain;
							border-radius:3px;
							box-shadow: 0px 3px 15px rgba(0,0,0,0.2);
						}

					}
					border-bottom: 2px solid var(--pal-utility-dark-1);
				}
			}
		}
	}
}
