splits-list {
	@extend %o-container;
	margin-top: 2rem;

	.actions {
		margin: 1rem 0;
	}

	ul {
		list-style-type: none;
		margin: 0;
		padding: 0;
		margin-top: 1rem;
		border: var(--theme-ui-border);
		border-radius: var(--theme-ui-border-radius);

		&:empty {
			&::before {
				content: "No splits added yet!";
				font-style: italic;
				display: block;
				padding: 2rem;
				text-align: center;
			}
		}

		li {
			>div {
				display: flex;
				justify-content: space-between;
				background-color: var(--pal-utility-light-1);
				border-bottom: var(--theme-ui-border);
				border-top-left-radius: var(--theme-ui-border-radius);
				border-top-right-radius: var(--theme-ui-border-radius);
			}
		}
	}

	h1, h2 {
		margin: 0;
		padding: 1rem;
		font-size: 1rem;
	}
	h2 {
		margin-right: auto;
	}
	a {
		display: block;
		padding: 1rem;
		margin-left: auto
	}
	.percentage {
		&::after {
			content:'%';
		}
	}

	table {
		margin: 0;
		border-collapse: collapse;
		thead {
			tr {
				th {
					padding: 1rem;
					&:last-of-type {
						text-align: left;
					}
				}
			}
		}
		tbody {
			tr {
				td {
					padding: 1rem;

					&:nth-of-type(1) {
						width: 25%;
					}
					&:nth-of-type(2) {
						width: 15%;
					}

					&:last-of-type {
						text-align: left;
					}
				}
			}
		}
	}
}
