%d-data-table {
	@extend %o-container;
	margin-top: 2rem;

	>.actions {
		margin: 1rem 0;
	}

	table {
		border-collapse: collapse;
		background-color: var(--pal-6);
		overflow-x: auto;
		display: block;
		width: 100%;
		-webkit-overflow-scrolling: touch; // Smooth scrolling for iOS
		white-space: nowrap;

		@media(min-width: $break-small) {
			display: table;
		}

		thead {
			position: sticky;
			top: 0;
			width: 100%;
			background-color: var(--pal-6);

			tr {
				th {

				}
			}
		}
		tbody {
			width: 100%;
			tr {
				td {
					padding: 1rem 0;
					border-bottom: 2px solid var(--pal-utility-dark-1);
					a {
						display: block;
						padding: 1rem 0;
					}
				}
			}
		}
	}

	.highlight {
		@keyframes highlight-new {
			from {
				background-color: #81df6a;
			}
		}
		animation: highlight-new 2s forwards 1;
	}
}
