%d-data-table {
	@extend %o-container;
	margin-top: 2rem;

	>.actions {
		margin: 1rem 0;
	}

	table {
		border-collapse: collapse;
		thead {
			tr {
				th {

				}
			}
		}
		tbody {
			tr {
				td {
					padding: 1rem 0;
					border-bottom: 2px solid var(--pal-utility-dark-1);
					a {
						display: block;
						padding: 1rem 0;
					}
				}
			}
		}
	}
}
