%d-editorial-content {
    section {
        margin-bottom:4rem;
        overflow:hidden;
    }
    .float {
        @media(min-width: $break-medium) {
        width: 50%;
        }
        &.left {
            float:left;
            @media(min-width: $break-medium) {
            margin-right:2rem;
            }
        }
        &.right {
            float:right;
            @media(min-width: $break-medium) {
            margin-left:2rem;
            }
        }
    }
    .clear {
        clear:both;
    }
    p {
        margin-top:0;
    }
    img {
        width:100%;

        @media(min-width: $break-medium) {
        
        }
    }
    h2 {
        margin-top:0;
    }
}