%d-editorial-content {
    section {
        margin-bottom:5rem;
        padding-top:5rem;
        padding-bottom:5rem;
        overflow:hidden;
        margin:0 auto;
        display:block;
        max-width: var(--size-page-width);
        overflow-x:hidden;
        position: relative;
        display: flex;
        align-items: center;
    }
    .three-quarter-width {
        width:65%;
    }
    .one-quarter-width {
        width:35%;
        position:relative;
        height:100%;
        display: flex;

    }
    .center {
        text-align: center;
    }
    .float {
        @media(min-width: $break-medium) {
        width: 50%;
        }
        &.left {
            float:left;
            @media(min-width: $break-medium) {
            margin-right:2rem;
            }
        }
        &.right {
            float:right;
            @media(min-width: $break-medium) {
            margin-left:2rem;
            }
        }
    }
    .clear {
        clear:both;
    }
    p {
        margin-top:0;
    }
    img {
        width:100%;
        border-radius:var(--theme-ui-border-radius);
        @media(min-width: $break-medium) {
        
        }
    }
    h2 {
        margin-top:0;
    }
   
    .pill {
        display: inline-block;
        border:4px solid;
        border-color:var(--pal-3);
        padding:0.8rem 1.5rem;
        border-radius: 50rem;
        margin-right:1rem;
        margin-bottom:1rem;
        background-color: black;
        color:white;
        font-weight: bold;
        font-family: var(--font-family-main);
        font-size: var(--font-size-base);
        cursor: default;
        transition: all 0.3s ease-in-out !important;
        
        @media(min-width: $break-small) {
            &:hover {
                transform: scale(1.2);
            }
        }
    }
    .pill-container {
        margin-top:3rem;
        margin-bottom:3rem;
        height:100%;
        width:100%;
    }
}