%d-form-fields {
	label {
		display: block;
		margin: 0 0 1rem 0;

		>span {
			display: block;
			margin-bottom:0.25rem;
		}
	}

	.form-cancel {
		margin-left:0.75rem;
	}

	select, input {
		@extend %d-ui-element;
		width: 100%;
	}

	.actions:not(.auto-submit) {
		display: flex;
		gap: 1rem;
		align-items: center;
		margin: 1rem 0;
	}

	[readonly] {
		appearance: textfield;
	}
}
