%d-modal-content {
	body.modal & {
		margin-top: 25vh;
		padding: 2rem;
		border: var(--theme-ui-border);
		border-radius: var(--theme-ui-border-radius);
		background: var(--pal-6);
		max-width: $break-small;
		box-shadow: 1rem 1rem var(--pal-utility-dark-2);
		outline: 1px solid white;
	}
}
